// Hacking Bootstrap, convert back to variables
@mixin list-group-theme-variants($state, $background, $color) {
  .list-group-item-#{$state} {
    --#{$prefix}bg-opacity: .3;
    --#{$prefix}list-group-bg: #{RGBA(var(--#{$prefix}#{$state}-rgb), var(--#{$prefix}bg-opacity))};
    --#{$prefix}list-group-color: $color;
    color: var(--#{$prefix}list-group-color);
    background-color: var(--#{$prefix}list-group-bg);

    &.list-group-item-action {
      &:hover,
      &:focus {
        --#{$prefix}list-group-action-hover-color: $color;
        --#{$prefix}list-group-action-hover-bg: #{RGBA(var(--#{$prefix}#{$state}-rgb), .5)};
        color: var(--#{$prefix}list-group-action-hover-color);
        background-color: var(--#{$prefix}list-group-action-hover-bg);
      }

      &.active {
        --#{$prefix}list-group-action-active-color: $color;
        --#{$prefix}list-group-action-active-bg: #{RGBA(var(--#{$prefix}#{$state}-rgb), .9)};
        --#{$prefix}list-group-active-border-color: #{RGBA(var(--#{$prefix}#{$state}-rgb), 1)};
        color: var(--#{$prefix}list-group-action-active-color);
        background-color: var(--#{$prefix}list-group-action-active-bg);
        border-color: var(--#{$prefix}list-group-active-border-color);
      }
    }
  }
}
